* {
  color: #24292e;
  box-sizing: border-box;
  font-family: "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: #0366d6;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0px;
}
